.container{
    border: 2px black solid;
    border-radius: 15px;
    margin-top: 20px;
}

.filtroLista{
    margin-top: -3px;
    margin-left: 5px;
    margin-right: 5px;
}

.lista-acessorio{
    border: 1px black solid;
    border-radius: 10px;
}